.navbar-brand {
    font-family: 'Lilita One', cursive;
}

/* nav {
     
} */


.footer {
    background-color: grey;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.right2 {
    position: absolute;
    margin-left: 1000px;
}

.right1 {
    position: absolute;
    margin-left: 700px;
}

.d-block {
    height: 500px !important;
}

#searchBox {
    margin-top: 10px !important;
}

#eventNo {
    text-align: left !important;
}