.navbar-brand {
    font-family: 'Lilita One', cursive;
}

/* nav {
     
} */


.footer {
    background-color: #d9d9d9;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.right2 {
    position: absolute;
    margin-left: 1000px;
}

.right1 {
    position: absolute;
    margin-left: 700px;
}

.d-block {
    height: 500px !important;
}

#searchBox {
    margin-top: 10px !important;
}

#eventNo {
    text-align: left !important;
}

#currentDate {
    margin-top: -40px;
    margin-left: 1100px;
}

@media screen and (max-width: 600px) {
    #currentDate {
        margin-top: 0px;
        margin-left: 0px;
        padding: 8px;
        background-color: #d9d9d9;
    }
}    